<div class="view view--full">
  <div class="layout layout--col">
    <div class="columns">
      <div class="column">
        <span class="title title--large">{{ greeting }}</span>
        <span class="description">{{ message }}</span>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <span class="title">Hello World Plugin</span>
    <span class="instance">Demo</span>
  </div>
</div>
